@charset 'utf-8';

html {
  font-size: 62.5%;
}
body {
  font: 1.6rem/1.5;
  word-break: keep-all;
} /* 
1rem = 10px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  line-height: 1.6;
}
@font-face {
  font-family: 'hakgyoanshim-ggureogi';
  src: url(../fonts/HakgyoansimGgooreogiR.ttf);
}
@font-face {
  font-family: 'GmarketSans-bold';
  src: url(../fonts/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: 'GmarketSans-light';
  src: url(../fonts/GmarketSansTTFLight.ttf);
}
@font-face {
  font-family: 'GmarketSans-medium';
  src: url(../fonts/GmarketSansTTFMedium.ttf);
}
@font-face {
  font-family: 'Harmony-bold';
  src: url(../fonts/Harmony_B.ttf);
}
@font-face {
  font-family: 'Harmony-light';
  src: url(../fonts/Harmony_L.ttf);
}
@font-face {
  font-family: 'Harmony-medium';
  src: url(../fonts/Harmony_M.ttf);
}
@font-face {
  font-family: 'pretendard-bold';
  src: url(../fonts/Pretendard-Bold.otf);
}
@font-face {
  font-family: 'pretendard-medium';
  src: url(../fonts/Pretendard-Medium.otf);
}
@font-face {
  font-family: 'pretendard-regular';
  src: url(../fonts/Pretendard-Regular.otf);
}

/* css 시작 */

.loading {
  display: none;
}

/* TOP */
.btn-top {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 50px;
  height: 50px;
  background: #ff0;
  z-index: 100;
  display: none;
}
#header {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
#header.hide {
  top: -100px;
}
.inner {
  width: 1640px;
  width: 85.4167%;
  height: 100%;
  /* border: 1px solid #f00; */
  margin: 0 auto;
}
#header .inner {
  display: flex;
  align-items: center;
}
#header img {
  width: 100px;
  height: 100px;
}
.nav {
  font-family: 'hakgyoanshim-ggureogi';
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #fff;
}

.nav strong {
  font-size: 45px;
  margin-left: 100px;
}
.nav-list {
  display: flex;
  font-size: 25px;
  margin-left: 200px;
  justify-content: center;
  gap: 120px;
}
.btn-menu {
  margin-left: 176px;
  background: #fff;
  background: url(../img/btn-menu.png) no-repeat 50% 50%;
  width: 50px;
  height: 50px;
}

/* 햄버거 메뉴 */

.all-menu {
  /* display: none; */
  position: absolute;
  top: 0;
  right: -100%;
  background: #2f2f2f;
  width: 500px;
  height: 100%;
  font-family: 'hakgyoanshim-ggureogi';
  font-size: 30px;
  color: #fff;
  z-index: 20;
}

.all-menu h2 {
  font-size: 45px;
  margin-top: 150px;
  margin-left: 50px;
}

.all-menu ul {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.all-menu li {
}

.etc {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.etc em {
  display: block;
}
.etc strong {
  display: block;
}

.btn-close-menu {
  width: 35px;
  height: 35px;
  background: url(../img/btn-close.png) no-repeat 50% 50% / cover;
  position: absolute;
  top: 5%;
  left: 10%;
}

/* 마이 메뉴 */
#myMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: 10;
}
#myMenu li {
  width: 20px;
  height: 42px;
  border-radius: 50%;
  /* background: #fff; */
  margin: 20px 0;
  position: relative;
  /* 흰색 원 넣기 */
}
#myMenu li a {
  display: block;
  height: 100%;
  background: url(../img/indicator-white.png) no-repeat 50% 50% / cover;
}
#myMenu li a b {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  /* border: 1px solid #f00; */
  background: #3b3b3b;
  padding: 8px 10px;
  border-radius: 10px;
  width: 100px;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  font-size: 15px;
}

/* 활성화 표시 */
#myMenu li.active {
  /* background: #c0581e; */
  /* 갈색 원 넣기 */
}
#myMenu li.active a {
  background: url(../img/indicator-on.png) 50% 50% / cover;
  font-family: 'Harmony-bold';
  color: #f1d302;
}
#myMenu li.active a b {
  opacity: 1;
  right: 0px;
}

/* 메인 공통 */
main section {
  position: relative;
}

.section-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url() no-repeat 0 0 / cover;
}
.section-visual::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.section-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #5f5; */
  width: 86%;
}

/* 메인1 */
.section-visual-home {
  background-image: url(../img/main-visual.jpg);
}
.home-text {
}

.home-text h1 {
  font-size: 85px;
  color: #f1d302;
  font-family: 'Harmony-bold';
  text-align: center;
  margin-top: 300px;
}
.home-text strong {
  font-size: 40px;
  color: #fff;
  font-family: 'GmarketSans-medium';
  display: block;
  text-align: center;
  margin-top: 40px;
}
.home-text-2 {
  font-family: 'hakgyoanshim-ggureogi';
  color: #fff;
  margin-top: 130px;
}
.home-text-2 p:first-child {
  font-size: 45px;
}
.home-text-2 p:last-child {
  font-size: 40px;
  /* border: 1px solid #fff; */
}
.btn-scroll {
  font-size: 24px;
  font-family: 'Harmony-medium';
  width: 140px;
  height: 80px;
  background: url(../img/btn-scroll.png) no-repeat;
  color: #fff;
  position: absolute;
  right: 400px;
  bottom: 100px;
}
.btn-scroll::after {
  content: '';
  background: url(../img/btn-scroll-arrow.png);
}

/* 서브 1 */
.section-visual-about {
  background-image: url(../img/sub-visual.jpeg);
}
.about-contents {
  position: absolute;
  font-family: 'Harmony-bold';
}
.about-contents h2 {
  font-size: 80px;
  color: #f1d302;
  text-align: center;
  padding-top: 170px;
}
.about-contents ul {
  display: flex;
  justify-content: center;
  gap: 170px;
  margin-top: 110px;
}
.about-contents li {
  width: 340px;
  height: 340px;
  background: #888;
  border: 1px solid #fff;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.about-contents a {
  display: block;
  width: 100%;
  height: 100%;
}
.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 800px;
  border: 10px solid #f00;
  background: #fff;
  padding: 60px;
  opacity: 0;
  font-size: 15px;
}
.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.about-contents li.about1 {
  background: url(../img/diary.jpg) no-repeat 50% 50% / cover;
}
.about-contents li.about2 {
  background: url(../img/office.jpg) no-repeat 50% 50% / cover;
}
.about-contents li.about3 {
  background: url(../img/coding.jpg) no-repeat 50% 50% / cover;
}

/* 서브 2 */
.section-visual-work {
  background-image: url(../img/sub-visual-2.jpg);
}
/* 슬라이더와 연동되는 정보 */
.slide-info {
  /* 여길 기준으로 li들을 전부 겹치게 */
  position: relative;
}

.slide-info li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 1px solid #000; */
  opacity: 0;
  transition: 0.4s;
}

.slide-info li.active {
  opacity: 1;
}
.work-info h2 {
  font-family: 'Harmony-bold';
  font-size: 70px;
  color: #f1d302;
}
.work-info p {
  font-family: 'pretendard-medium';
  color: #fff;
  font-size: 35px;
}
.work-info .detail {
  font-size: 22px;
  color: #a1a1a1;
  margin-top: 30px;
}
.work-data {
  font-family: 'pretendard-regular';
  color: #fff;
  font-size: 20px;
  margin-top: 60px;
}
.work-data p {
  margin: 10px auto;
}
.tools-image {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.work-slider {
  height: 720px;
  border: 1px solid #f5f;
}
.mySlider {
  border: 1px solid #0f0;
  /* width: 90%; */
  height: 80%;
  width: 60%;
  /* transform: translateX(30%); */
  transform: translate(30%, 13%);
}

.swiper-wrapper {
  /* width: 100%; */
  align-items: center;
  margin: 0 auto;
}

.swiper-slide {
  /* border: 10px solid #ff0; */
  font-size: 5vw;
  color: #f00;
}
.slide1 {
  height: 100%;
  background: url(../img/LP3-2.png) no-repeat 50% 50% / cover;
}
.slide2 {
  height: 80%;
  background: url(../img/XL.jpg) no-repeat 50% 50% / contain;
}
.slide3 {
  height: 80%;
  background: url(../img/XL-2.jpg) no-repeat 50% 50% / contain;
}

.swiper-pagination-bullet {
  background: url(../img/swiper-pagination-bullet.jpg) no-repeat 50% 50% / cover;
  width: 20px;
  height: 20px;
}
.swiper-pagination-bullet-active {
  background: url(../img/swiper-pagination-bullet-active.jpg) no-repeat 50% 50% / cover;
  width: 20px;
  height: 20px;
}
/* 서브 3 */
.contact {
  background: #000;
}
.contact h2 {
  font-family: 'Harmony-bold';
  font-size: 80px;
  color: #f1d302;
  text-align: center;
}
.name-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 100px;
  border: 1px solid #f00;
  margin-top: 100px;
  width: 40%;
}
.name-pic {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}
.name-pic img {
  width: 160px;
  height: 180px;
  border: 5px solid #f00;
  border-radius: 80px;
}
.my-info dl {
}

.my-info dt {
  font-family: 'pretendard-medium';
  font-size: 25px;
  color: #f1d302;
}
.my-info dd {
  font-family: 'pretendard-regular';
  font-size: 22px;
  color: #fff;
}
/* 로딩화면 */
/* 로딩 글씨 css opacity / 스텝스효과 */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.loading-content {
  display: flex;
}

.standing {
  position: absolute;
  top: -15%;
  left: 24%;
  z-index: 3;
  rotate: 5deg;
}
.standing img {
  width: 604px;
  height: 806px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.LP {
  position: absolute;
  top: 30%;
  left: 42%;
  /* transform: translate(-50%, -65%); */
  animation: rotateLP 3s infinite linear;
}

@keyframes rotateLP {
  0% {
    -webkit-transform: rotate(0deg);
  }
  /* 25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  } */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.LP img {
  width: 310px;
  height: 310px;
}

.loading-text {
  font-family: 'hakgyoanshim-ggureogi';
  margin-top: 430px;
  transform: translateX(20%);
  z-index: 5;
  position: absolute;
  bottom: 15%;
  left: 41%;
}
.loading-text strong {
  color: #fff;
  font-size: 60px;
  opacity: 1;
  animation: loading-text 0.6s infinite;
}
@keyframes loading-text {
  to {
    opacity: 0;
  }
}

.loading-text p {
  color: #f1d302;
  font-size: 45px;
}
